/* Theme */

main {
	background: #ffffff;
	color: #0BC9E2;
}

.icons-social a {
	color: #0BC9E2;
}

.icons-social a svg path{
	fill: #0BC9E2;
}

a:link,
a:visited {
	text-decoration: none;
	color: #0BC9E2;
}

.projects a:hover {
	text-decoration: underline;
}
.projects {
	margin-bottom: 2%;
}
